body {
    background: #202124;
    padding: 5px 30px 20px;
    margin: 0;
}

body > div, span, h1 {
    color: #bdc1c6
}

em {
    color: #ff7866;
    font-style: normal;
}

#queryBox {
    width: 300px;
    height: 25px;
    margin: 0 5px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
    background-color: #303134;
    border: none;
    padding: 5px 10px;
    color: white;
}

textarea:focus, input:focus{
    outline: none;
}

#querySuggestBox {
    background-color: #303134;
    margin: 0 5px;
    position: absolute;
    border: solid;
    border-width: 1px 0 0 0;
    top: 35px;
    border-radius: 0 0 20px 20px;
}


.toggle {
    position: relative;
    width: 120px;
    height: 22px;
    border-radius: 13px;
    border: 2px solid #bdc1c6;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 22px;
    background-color: #bdc1c6;
    top: 0;
    left: 0;
    transition: all 0.5s;
    border-radius: 12px;
}

.toggle > p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: -13px;
    right: 52px;
    width: 60px;
}

.checkbox:checked + .toggle::after {
    left: 60px;
}

.checkbox {
    display: none;
}
