body {
    background: #202124;
    padding: 5px 30px;
    margin: 0;
}

body > div, span, h1 {
    color: #bdc1c6
}

em {
    color: #ff7866;
    font-style: normal;
}

#queryBox {
    width: 300px;
    height: 25px;
    margin: 5px;
    border-radius: 14px;
    box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
    background: #303134;
    border: none;
    padding: 5px 10px;
    color: white;
}
